<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Каталог продуктов</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h3>Каталог продуктов</h3>
    <hr>
    <form th:action="search" method="get">
        <input type="text"  th:name="theSearchName"/>
        <input type="submit" value="Поиск" class="add-button"/>
    </form>
    <hr>
    <a th:href="@{/products/showFormForAdd}" class="btn btn-primary btn-sm mb-3">
        Добавить позицию
    </a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <th>Название</th>
            <th>Категория</th>
            <th>Описание</th>
            <th>Цена</th>
            <th>Действия</th>
        </thead>
        <tbody>
            <tr th:each="tempProduct : ${products}">
                <td th:text="${tempProduct.name}"/>
                <td th:text="${tempProduct.type}"/>
                <td th:text="${tempProduct.description}"/>
                <td th:text="${tempProduct.price}"/>
                <td>
                    <a th:href="@{/products/showFormForUpdate(productId=${tempProduct.id})}"
                       class="btn btn-info btn-sm">
                        Обновить
                    </a>

                    <a th:href="@{/products/delete(productId=${tempProduct.id})}"
                       class="btn btn-danger btn-sm"
                       onclick="if (!(confirm('Вы точно хотите удалить данную позицию?'))) return false">
                        Удалить
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>